{% extends 'base.html'%}

{%block staticfile%}
<link rel="stylesheet" href="/static/css/common.css" />
{%endblock%}

{%block main_content%}
<div id='welcome'>
	<p>
		&nbsp;&nbsp; 欢迎来到Jackliu的个人空间，在这里你会发现很多快乐与新奇的东东，赶快来挖掘吧!
	</p>
</div>
<div id='info'>
	<div class='indroduction'>
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp; 作者本科毕业于北京化工大学计算机专业，现于北京化工大学攻读硕士学位，研究方向为LTE在移动通信系统中的应用。爱好上网、玩、对游戏不感冒。非常喜欢互联网，
			希望能够在互联网里闯下自己的一片天，有志同道合的朋友可以共谋大事。
		</p>
		<p>
			熟悉语言
			<ul>
				<li>
					C
				</li>
				<li>
					Python
				</li>
				<li>
					Javascript
				</li>
				<li>
					Java
				</li>
				<li>
					Css
				</li>
				<li>
					Html
				</li>
			</ul>
			尤其是C、Python和Javascript，非常喜欢这三门语言。
		</p>
		<p>
			联系方式
			<ul>
				<li>
					QQ &nbsp;&nbsp; 125342620
				</li>
				<li>
					email &nbsp;&nbsp; jackliu8722@gmail.com
				</li>
				<li>
					新浪微博 &nbsp;&nbsp; weibo.com/jackliu8722
				</li>
			</ul>
		</p>
	</div>
	<div class='latest_tendency'>
    	<p>最近动态</p>
	</div>
</div>
{%endblock%} 